# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

node_modules
lib
lib-commonjs
lib-amd
build
dist
temp
.temp
.cache

docs/.yarn/*
!docs/.yarn/releases

# Binary files
*.tgz
*.tar
*.gz

package-lock.json