# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

node_modules
lib
lib-commonjs
lib-amd
build
dist
temp

# Rush and npm files
common/temp/**
package-deps.json
package-lock.json

# Binary files
*.tgz
*.tar
*.gz
