# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - docs
      - packages/documentation
      - README.md

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      git config user.email "kchau@microsoft.com"
      git config user.name "kchau@microsoft.com"
    displayName: git config

  - script: |
      yarn
    displayName: 'yarn'

  - script: |
      yarn checkchange
    displayName: 'check change files'

  - script: |
      yarn build
    displayName: 'build'

  - script: |
      yarn test
    displayName: 'test'
