# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr: none

trigger:
  - master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'

  - script: |
      git config user.email "kchau@microsoft.com"
      git config user.name "kchau@microsoft.com"
      npm install
      npm run build
      node ./common/scripts/install-run-rush.js publish -a -p -b master -n $(npm.authtoken)
    displayName: 'npm install and build'
