## Careful not to add more to this workflow like build, install, or test

name: Dependabot Beachball Workflow
on: pull_request_target

permissions:
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v2
        with:
          # Check out the pull request HEAD
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: npx beachball change --type patch --message "Bumping dependencies via dependabot"
      - run: git push origin ${{ github.event.pull_request.head.ref }}
