name: PR

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  # For PRs, use the ref (branch) in the concurrency group so that new pushes cancel any old runs.
  # For pushes to main, ideally we wouldn't set a concurrency group, but github actions doesn't
  # support conditional blocks of settings, so we use the SHA so the "group" is unique.
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install Node.js from .nvmrc
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: .nvmrc

      - run: yarn --frozen-lockfile

      - run: yarn checkchange

      - run: yarn format:check
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - run: yarn lint

      - run: yarn lage build test api --verbose

      - name: Check for modified files
        uses: microsoft/beachball-actions/check-for-modified-files@cf7d34819ad50dce8894b3ff99a2a7899aefee3d # v3

  # The docs have a separate installation using Node 22 due to needing newer dependencies
  docs:
    name: build docs

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: docs/.nvmrc

      - name: Install docs dependencies
        working-directory: docs
        run: yarn --immutable

      - name: Build doc site
        working-directory: docs
        run: yarn build
