# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: PR

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Node.js from .nvmrc
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - run: yarn --frozen-lockfile

      - run: yarn checkchange

      - run: yarn lint

      - run: yarn lage build test

      - run: yarn docs:build

      - name: Check for modified files
        uses: ecraig12345/beachball-actions/check-for-modified-files@v1
