name: PR

on:
  pull_request:
    branches: [main]

concurrency:
  # For PRs, use the ref (branch) in the concurrency group so that new pushes cancel any old runs.
  # For pushes to main, ideally we wouldn't set a concurrency group, but github actions doesn't
  # support conditional blocks of settings, so we use the SHA so the "group" is unique.
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install Node.js from .nvmrc
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          node-version-file: .nvmrc

      - run: yarn --frozen-lockfile

      - run: yarn checkchange

      - run: yarn lint

      - run: yarn lage build test api

      - run: yarn docs:build

      - name: Check for modified files
        uses: ecraig12345/beachball-actions/check-for-modified-files@9b56d6fd4983b949be3313f95846788edb738c9b # v1
